/* Global styles go here */

@import '@fontsource/overpass';

body {
    /* General stuff */
    min-height: 100vh;
    margin: 0;
    background-color: #0b1622;
    /* Font and text related */
    font-family: 'Overpass', 'Arial';
    font-size: 14px;
    color: #a0b1c5;
}

a {
    text-decoration: none;
    color: #a0b1c5;
}

a:hover {
    color: white;
}


/* 
 * Reusable utility classes
 */

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}