@import '@fontsource/overpass';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* General stuff */
	min-height: 100vh;
	margin: 0;
	/* Font and text related */
	font-family: 'Overpass', 'Arial';
	font-size: 14px;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

a {
	text-decoration: none;
	color: #a0b1c5;
}

a:hover {
	color: white;
}
